.DS_Store
data/
notebooks/
notebooks_1/
.plan
.pwpnotes.txt
test.py
.ipynb_checkpoints
.vscode
.idea
misc.xml
instruction

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
